<div class="container">
  <%= image_tag("slide6.jpg", height: '400', width:'1170', alt: "jeune fille")%>
  <h1>Contact</h1>
  <br>
  <form role="form">
    <div class="form-group">
      <div class="row text-center">
        <label for="email">E-mail :</label>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <input class="form-control" id="email" type="email">
      </div>

    </div>
    <br>
    <br>
    <div class="form-group">
      <div class="row text-center">
        <label for="message">Laissez-nous un message :</label>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <textarea cols="42" placeholder="Entrez votre message" rows="8"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="checkbox">
          <label><input type="checkbox">Se souvenir de moi</label>
        </div>
      </div>
    </div>

  </form>
  <br>
  <div class="col-md-4 col-md-offset-4">
    <button class="btn btn-default" type="submit">Submit</button>
  </div>
</div>
<br>
 <%= render 'layouts/partials/footer'%>
