<div class="last_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
  <p class="text_footer">
    Simplifier les relations entre parents séparés pour veiller au bien-être et au bon développement de l'enfant.
  </p>

      </div>
      <div class="col-md-4">
<p class="text_footer">
  @Copyright 2016
</p>
      </div>
      <div class="col-md-4">
        <p class="text_footer">KIDCO<p>
      </div>
    </div>
  </div>
</div>
